<!-- Pantalla de Asesorías de Ciencias Básicas -->
<section class="container">

	<h1>Asesorías Programación</h1>
	<img id="img-div" src="/assets/img/programacion.jpg">

	


	<!-- Asesoría 1 -->
	<div class="table-responsive col-md-10">
		<table class="table table-condensed table-responsive">
			<!-- Encabezados de la tabla -->
			<thead>
				<tr>
					<th>Asignatura</th>
					<th>Profesor</th>
					<th>Día</th>
					<th>Horario</th>
					<th>Salón</th>
					<th>Ubicación</th>
				</tr>
			</thead>
			<!-- Cuerpo de la tabla -->
			<tbody>
				<tr>
					<td>Álgebra</td>
					<td>Isaac Moreno</td>
					<td>Mar - Jue</td>
					<td>12:00 - 2:00 pm</td>
					<td>I202</td>
					<td>Agregar Imagen</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-2" align="center">
		<button class="btn btn-primary">Asistir</button>
	</div>

	<div class="container">
		<!-- Comentarios -->
		<div class="form-group col-md-6" align="left">
			<label>Comentarios:</label>
			<textarea placeholder="Escriba aqui sus comentarios"
					  class="form-control"
					  rows="3"></textarea>
		</div>	

		<!-- Puntuador -->
		<div class="form-group col-md-2" align="left">

			<label>Califica la asesoría:</label>
			
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			
			<select class="form-control">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>

		<!-- Imagen Asesoría -->
		<div class="col-md-4">
			<img id="img-asesoria" src="/assets/img/muestra.jpg">
		</div>
			
	</div>

	<hr>
<!-- ***************************** Final asesoría 1 ********************************** -->
	


	<!-- Asesoría 2 -->
	<div class="table-responsive col-md-10">
		<table class="table table-condensed table-responsive">
			<!-- Encabezados de la tabla -->
			<thead>
				<tr>
					<th>Asignatura</th>
					<th>Profesor</th>
					<th>Día</th>
					<th>Horario</th>
					<th>Salón</th>
					<th>Ubicación</th>
				</tr>
			</thead>
			<!-- Cuerpo de la tabla -->
			<tbody>
				<tr>
					<td>Álgebra</td>
					<td>Isaac Moreno</td>
					<td>Mar - Jue</td>
					<td>12:00 - 2:00 pm</td>
					<td>I202</td>
					<td>Agregar Imagen</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-2" align="center">
		<button class="btn btn-primary">Asistir</button>
	</div>

	<div class="container">
		<!-- Comentarios -->
		<div class="form-group col-md-6" align="left">
			<label>Comentarios:</label>
			<textarea placeholder="Escriba aqui sus comentarios"
					  class="form-control"
					  rows="3"></textarea>
		</div>	

		<!-- Puntuador -->
		<div class="form-group col-md-2" align="left">

			<label>Califica la asesoría:</label>
			
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			
			<select class="form-control">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>

		<!-- Imagen Asesoría -->
		<div class="col-md-4">
			<img id="img-asesoria" src="/assets/img/muestra.jpg">
		</div>
			
	</div>

	<hr>
<!-- ***************************** Final asesoría 2 ********************************** -->

	


	<!-- Asesoría 3 -->
	<div class="table-responsive col-md-10">
		<table class="table table-condensed table-responsive">
			<!-- Encabezados de la tabla -->
			<thead>
				<tr>
					<th>Asignatura</th>
					<th>Profesor</th>
					<th>Día</th>
					<th>Horario</th>
					<th>Salón</th>
					<th>Ubicación</th>
				</tr>
			</thead>
			<!-- Cuerpo de la tabla -->
			<tbody>
				<tr>
					<td>Álgebra</td>
					<td>Isaac Moreno</td>
					<td>Mar - Jue</td>
					<td>12:00 - 2:00 pm</td>
					<td>I202</td>
					<td>Agregar Imagen</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-2" align="center">
		<button class="btn btn-primary">Asistir</button>
	</div>

	<div class="container">
		<!-- Comentarios -->
		<div class="form-group col-md-6" align="left">
			<label>Comentarios:</label>
			<textarea placeholder="Escriba aqui sus comentarios"
					  class="form-control"
					  rows="3"></textarea>
		</div>	

		<!-- Puntuador -->
		<div class="form-group col-md-2" align="left">

			<label>Califica la asesoría:</label>
			
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			
			<select class="form-control">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>

		<!-- Imagen Asesoría -->
		<div class="col-md-4">
			<img id="img-asesoria" src="/assets/img/muestra.jpg">
		</div>
			
	</div>

	<hr>
<!-- ***************************** Final asesoría 3 ********************************** -->

	


	<!-- Asesoría 4 -->
	<div class="table-responsive col-md-10">
		<table class="table table-condensed table-responsive">
			<!-- Encabezados de la tabla -->
			<thead>
				<tr>
					<th>Asignatura</th>
					<th>Profesor</th>
					<th>Día</th>
					<th>Horario</th>
					<th>Salón</th>
					<th>Ubicación</th>
				</tr>
			</thead>
			<!-- Cuerpo de la tabla -->
			<tbody>
				<tr>
					<td>Álgebra</td>
					<td>Isaac Moreno</td>
					<td>Mar - Jue</td>
					<td>12:00 - 2:00 pm</td>
					<td>I202</td>
					<td>Agregar Imagen</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-2" align="center">
		<button class="btn btn-primary">Asistir</button>
	</div>

	<div class="container">
		<!-- Comentarios -->
		<div class="form-group col-md-6" align="left">
			<label>Comentarios:</label>
			<textarea placeholder="Escriba aqui sus comentarios"
					  class="form-control"
					  rows="3"></textarea>
		</div>	

		<!-- Puntuador -->
		<div class="form-group col-md-2" align="left">

			<label>Califica la asesoría:</label>
			
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			
			<select class="form-control">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>

		<!-- Imagen Asesoría -->
		<div class="col-md-4">
			<img id="img-asesoria" src="/assets/img/muestra.jpg">
		</div>
			
	</div>

	<hr>
<!-- ***************************** Final asesoría 4 ********************************** -->

	


	<!-- Asesoría 1 -->
	<div class="table-responsive col-md-10">
		<table class="table table-condensed table-responsive">
			<!-- Encabezados de la tabla -->
			<thead>
				<tr>
					<th>Asignatura</th>
					<th>Profesor</th>
					<th>Día</th>
					<th>Horario</th>
					<th>Salón</th>
					<th>Ubicación</th>
				</tr>
			</thead>
			<!-- Cuerpo de la tabla -->
			<tbody>
				<tr>
					<td>Álgebra</td>
					<td>Isaac Moreno</td>
					<td>Mar - Jue</td>
					<td>12:00 - 2:00 pm</td>
					<td>I202</td>
					<td>Agregar Imagen</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-2" align="center">
		<button class="btn btn-primary">Asistir</button>
	</div>

	<div class="container">
		<!-- Comentarios -->
		<div class="form-group col-md-6" align="left">
			<label>Comentarios:</label>
			<textarea placeholder="Escriba aqui sus comentarios"
					  class="form-control"
					  rows="3"></textarea>
		</div>	

		<!-- Puntuador -->
		<div class="form-group col-md-2" align="left">

			<label>Califica la asesoría:</label>
			
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-star"></i>
			</span>
			
			<select class="form-control">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>

		<!-- Imagen Asesoría -->
		<div class="col-md-4">
			<img id="img-asesoria" src="/assets/img/muestra.jpg">
		</div>
			
	</div>

	<hr>
<!-- ***************************** Final asesoría 5 ********************************** -->


</section>