<!-- Footer -->
<div class="container">
	<footer class="text-center">

		 
		<div class="row">

			<!-- Escudo de la Facultad -->
			<div class="col-md-2">
				<a href="http://www.ingenieria.unam.mx/" title="">
					<img id="img-foot" src="/assets/img/logoFI.png">
				</a>			
			</div>


			<!-- Links Divisiones FI -->
			<div class="container col-md-3" align="left">
				<h4>Divisiones FI</h4>
				<a href="http://dcb.ingenieria.unam.mx/">
					<small>Ciencias Básicas</small>
				</a><br>

				<a href="http://dicyg.fi-c.unam.mx:8080/Site">
					<small>Ingeniería Civil y Geomática</small>
				</a><br>

				<a href="http://www.fi-b.unam.mx/">
					<small>Ingeniería Eléctrica</small>
				</a><br>

				<a href="http://www.dict.unam.mx/">
					<small>Ingeniería en Ciencias de la Tierra</small>
				</a><br>

				<a href="http://www.ingenieria.unam.mx/dimei/">
					<small>Ingeniería Mecánica e Industrial</small>
				</a><br>

				<a href="http://www.ingenieria.unam.mx/dcsyhfi/">
					<small>Ciencias y Humanidades</small>
				</a><br>
			</div>


			<!-- Contacto FI -->
			<div class="container col-md-5" align="left">
				<h4>Ubicación</h4>
				<small>
					Facultad de Ingeniería, 
					Av. Universidad 3000, 
					Ciudad Universitaria, 
					Coyoacán, Cd. Mx., CP 04510
				</small>
				<h4>Contacto FI</h4>
				<small>Telefono: 56 22 08 66</small>
				<br>
				<small>Correo FI: fainge@unam.mx</small>
			</div>


			<!-- Escudo de la Universidad -->
			<div class="col-md-2">
				<a href="http://www.unam.mx/" title="">
					<img id="img-foot"
						 src="/assets/img/logoUNAM.png"
						 class="invert">
				</a>			
			</div>
		</div>

		<hr>

		<div class="row">
			
			<!-- Contacto a la empresa -->
			<div class="container col-md-12" align="left">
				<h5>(MiE)<sup>x</sup> solutions</h5>
				<small>
					Esta página electrónica puede ser reproducida con fines no lucrativos,
					siempre y cuando no se mutile, se cite la fuente completa y su dirección
					electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas cuyos contenidos son de la responsabilidad exclusiva de sus titulares.
				</small><br>
				<small>Correo: mie.x.solutions@gmail.com</small><br>
				<small>Teléfono: 55 3123 4123</small><br>
			</div>

		</div>

	</footer>
</div>