<!-- Jumbotron -->
<div class="container-fluid">
	<img id="banner" src="/assets/img/MainBanner.png">
</div>

<!-- Navbar -->
<nav id="navbar" class="navbar navbar-inverse">
	<div class="container">

		<ul class="nav navbar-nav">

			
			<li>
				<a routerLink="/home">
					<i class="glyphicon glyphicon-home"></i>
				</a>
			</li>
			
			
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					Divisiones
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/ciencias-basicas">Ciencias Básicas</a></li>
					<li><a href="/programacion">Programación</a></li>
					<li><a href="/electronica">Electrónica</a></li>
					<li><a href="/ciencias-humanidades">Ciencias y Humanidades</a></li>
				</ul>
			</li>
			
			<li>
				<a href="/login">Login</a>
			</li>
			
			<li>
				<a href="/registro">Registro</a>
			</li>

			<li>
				<a href="#">Contacto</a>
			</li>

		</ul>
	</div>
</nav>
