<!-- Jumbotron -->
<div class="container-fluid">
	<img 	id="banner"
			src="/assets/img/MainBanner.png"
			routerLink="/home">
</div>

<!-- Navbar -->
<nav id="navbar" class="navbar navbar-inverse">
	<div class="container">

		<div class="navbar-header">

			<button type="buton" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<!-- Burger Button -->
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<!-- Este boton solo funciona cuando se reduce la pantalla -->
			</button>

			<span>
				<a class="nav navbar-brand" routerLink="/home">
					<i class="glyphicon glyphicon-home"></i>
				</a>
			</span>

	    </div>
			
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">
							Divisiones
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/ciencias-basicas">Ciencias Básicas</a></li>
							<li><a href="/programacion">Programación</a></li>
							<li><a href="/electronica">Electrónica</a></li>
							<li><a href="/ciencias-humanidades">Ciencias y Humanidades</a></li>
						</ul>
					</li>
					
					<li *ngIf="!isLoggedIn">
						<a href="/login">Login</a>
					</li>
					
					<li *ngIf="!isLoggedIn">
						<a href="/registro">Registro</a>
					</li>

					<li *ngIf="isLoggedIn">
						<a href="/home">Salir</a>
					</li>

					<li>
						<a href="/contacto">Contacto</a>
					</li>
				</ul>
			</div>

	</div>
</nav>
