<!-- Jumbotron -->
<div class="container-fluid">
	<img id="banner" src="/assets/img/MainBanner.png" alt="">
</div>

<!-- Navbar -->
<nav id="navbar" class="navbar navbar-inverse">
	<div class="container">
		

		<ul class="nav navbar-nav">
			
			
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					Divisiones
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Ciencias Básicas</a></li>
					<li><a href="#">Programación</a></li>
					<li><a href="#">Electrónica</a></li>
					<li><a href="#">Ciencias y Humanidades</a></li>
				</ul>
			</li>
			
			<li>
				<a href="#">Login</a>
			</li>
			
			<li>
				<a href="#">Registro</a>
			</li>

			<li>
				<a href="#">Contacto</a>
			</li>

		</ul>
	</div>
</nav>
